body {
  margin: 0;
}
#header {
  background-color: darkgray;
  width: 100%;
  text-align: center;
}

#title {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.header-menu-item {
  width: 33.3%;
}

.Nouchimage {
  margin-left: 100px;
  float: left;
}
.Nouchimage h3 {
  margin-left: 20px;
  float: right;
}
.profile {
  clear: left;
  margin-left: 100px;
}

#maintheme {
  margin-left: 100px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-color: rgba(0, 0, 0, 0.05);
  padding-bottom: 8px;
  margin: 0 0 20px;
  padding-top: 8px;
  margin-left: 100px;
}
