body {
  margin: 0;
}

#header {
  background-color: darkgray;
  width: 100%;
  text-align: center;
}

#title {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.header-menu-item {
  width: 33.3%;
}

.Nouchimage {
  margin-left: 100px;
  float: left;
}
.Nouchimage h3 {
  margin-left: 5px;
  float: right;
}

.follow-me {
  list-style: none;
  margin-right: 20px;
}

.profile {
  clear: left;

  margin: 10px;
  padding: 10px;
  margin-left: 100px;
}

#maintheme {
  margin-left: 100px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-color: rgba(0, 0, 0, 0.05);
  padding-bottom: 8px;
  margin: 0 0 20px;
  padding-top: 8px;
  margin-left: 100px;
}

/*portfolio*/
* {
  box-sizing: border-box;
}
.box-list {
  margin: 30px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.box-list li {
  float: left;
  border: 1px solid #ddd;
  width: 23%;
  margin-bottom: 1%;
  margin-right: 1.25%;
}
.box-list p {
  text-align: center;
  font-weight: bolder;
}
ul li:last-child {
  margin-right: 0;
}

iframe {
  float: left;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
}
.bx-wrapper {
  float: left;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
}
.comment {
  margin-left: 52%;
  margin-top: 50px;
  margin-right: 50px;
}
